

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit-main {text-align:center}
.hero-unit-main h1 {font-family: 'Cagliostro', sans-serif;}
.hero-unit-main input {height:2em;width:50%;}
.hero-unit-main h3 {font-family: 'Cagliostro', sans-serif;color:grey}
.highlight{background-color:yellow}















